* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60rem;
  height: 30rem;

  border-radius: 20px;
  border: 2px solid black;

  background-color: #f8edeb56;
  backdrop-filter: blur(4px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 2rem;
  font-weight: lighter;
}
.fadeoutanim {
  animation: fadeout-anim 200ms forwards ease-in;
}
@keyframes fadeout-anim {
  100% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
}
.scaleX {
  animation: scaleX-anim 500ms forwards ease-in;
}
@keyframes scaleX-anim {
  100% {
    transform: translate(-50%, -50%) scaleX(0);
  }
}

.loginForm .login-box {
  width: 40rem;
  height: 4rem;

  margin: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;

  /* background: linear-gradient(to right, #fff1e6, #fde2e4, #fad2e1, #f0efeb); */
  /* background-color: #edf2f4c5; */
  border-radius: 20px;

  position: relative;
}

.submit-box {
  height: 4rem;
  width: 20rem;
  position: relative;
  background: none;
}

.loginForm .login-box input {
  height: 2rem;
  width: 20rem;

  padding-left: 0.5rem;

  background-color: rgba(255, 255, 255, 0.116);

  position: absolute;
  bottom: 1rem;
  right: 10rem;
  border-radius: 5px;
  border: 1px solid gray;
}
.loginForm .last-box input {
  position: relative;
  right: 0rem;
  bottom: 0.1rem;
  cursor: pointer;
}
.loginForm .last-box label {
  margin-left: 2rem;
}
.loginForm .last-box label {
  cursor: pointer;
}
.loginForm .login-box p {
  display: inline;
  margin-right: 2rem;
}

#gender_in_male {
  width: auto;
  height: auto;
  margin-right: 1rem;
}
#gender_in_female {
  width: auto;
  height: auto;
}

.submitButton {
  height: 3rem;
  width: 6rem;
  background: white;

  border: 1px solid black;
  border-radius: 10px;

  cursor: pointer;

  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 5px 2px black;
}

.submitButton:hover {
  animation: submit-btn-anim 200ms forwards;
}
@keyframes submit-btn-anim {
  100% {
    box-shadow: none;
    transform: translate(-50%, -40%);
  }
}
.submitButtonDownState {
  box-shadow: none;
  transform: translate(-50%, -40%);
}

.noneDisplay {
  display: none;
}

.buttonGroup {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: 2rem;
  z-index: 1;

  display: flex;
  justify-content: center;
}
.buttonGroup p {
  font-size: 2rem;
  margin: 0rem 1rem;
}
.buttonGroup button {
  background: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  height: 3.5rem;
  width: 8rem;
  border-radius: 10px;

  transition: 100ms transform ease-out;
}

.buttonGroup button:hover {
  transform: scale(1.1);
}

.buttonGroup .activeBackground {
  background-color: #e2ece9;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  right: 3rem;
  bottom: 0.5rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notificationDiv {
  z-index: 3;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 0rem 1rem;
  height: 4rem;
  background-color: rgba(125, 241, 57, 0.6);

  border-radius: 10px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationAnimClass {
  animation: notificationAnim 2s;
}
@keyframes notificationAnim {
  0% {
    top: -4rem;
  }
  25% {
    top: 4rem;
  }
  75% {
    top: 4rem;
  }
  100% {
    top: -4rem;
  }
}
.login {
  background-image: url("./assets/login_back.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: none;
}

/* Main Page ----------------------------------------------------------------------------------------------------------- */

.sideBar {
  height: 100vh;
  width: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e2ece9;

  color: #2b2d42;
}

.topBar {
  width: 100%;
  height: 10%;
  background-color: #edf2f4;

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.topBarImage {
  position: relative;
  top: 0.1rem;
  width: 2.5rem;
  height: 2.5rem;
}
.topBarName {
  position: relative;
  margin-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.settingsButton {
  margin-left: auto;
  background: none;

  border: none;

  cursor: pointer;
}

.userModeselector {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #f8edeb;
}
.userModeButton {
  position: relative;
  height: 100%;
  width: 49%;

  border: none;
  background: none;

  font-size: 1.4rem;

  cursor: pointer;
}
.activeUserMode {
  background-color: #f8e3df;
}

.usersList {
  position: relative;
  height: max-content;
  width: 100%;
}

.userListElement {
  height: 10vh;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0rem 1rem;
  margin: 0.2rem 0rem;
  background-color: white;
}

.userListImage {
  position: relative;
  width: 2rem;
  height: 2rem;

  border: 1px solid #ffd6a5;
  border-radius: 50%;

  text-align: center;
  font-size: 1.3rem;
}

.chatUsername {
  position: relative;
  margin-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.lastSeen {
  position: relative;
  top: 0.5rem;
  margin-left: auto;

  color: #ced4da;
  font-size: 0.9rem;
}

.chatDiv {
  position: absolute;
  top: 0;
  left: 25vw;
  height: 100vh;
  width: 75vw;

  background-color: #edf2fb;

  display: flex;
  flex-direction: column;
}

.topChatBar {
  justify-self: flex-start;
  position: relative;
  width: 100%;
  height: 10%;

  padding: 0rem 2rem;

  background-color: #edf2f4;
  border-left: 0.5px solid rgb(219, 215, 215);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.accountName {
  position: relative;
  margin-left: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.accountLastSeen {
  position: relative;
  right: 1rem;
  margin-left: auto;

  color: #ced4da;
  font-size: 1rem;
}
.chatBox {
  position: relative;
  height: 80%;
  width: 100%;
}
.chatBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0.3;
  background-image: url("./assets/chat_back.jpg");
  background-size: contain;
  background-position: center;
}

.messageToolBar {
  justify-self: flex-end;
  position: relative;
  height: 10%;
  width: 100%;
  padding: 0rem 2rem;

  background-color: rgb(240, 242, 245);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.messageIcon {
  justify-self: flex-start;
  margin: 0rem 1rem;
}

#messageInput {
  position: relative;
  height: 60%;
  width: 70%;

  padding: 0rem 1rem;
  margin: 0rem 1rem;

  border: none;
  border-radius: 10px;

  font-size: 1.2rem;
  font-weight: lighter;
}

.sendMessageButton {
  position: relative;
  width: 6rem;
  height: 2.5rem;

  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #ffcfd2, #f1c0e8, #cfbaf0);

  font-size: 1.3rem;

  cursor: pointer;
}
.sendMessageButton svg {
  position: relative;
  top: 0.1rem;
}
